<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav style="padding: 10px;box-shadow:5px 5px 5px gray;background-color: white;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'intro' %}" style="color: blue;font-size: 40px;font-weight: bolder;">InstaClone</a>
            </div>
            
        </div>
    </nav>
</body>

</html>