
/* #welcome{
    background-image: linear-gradient(90deg,cyan, purple);
} */
#welcome{
    background-image: url(https://clipartart.com/images/black-heart-clipart-14.png);
    background-size: cover;
}
body{
    margin: 0;
    padding: 0;
    
}
