{%extends 'all-insta/base.html'%}

{% block content %}
{{block.super}}
<body id="welcome">
    <div class="col-md-6">
        <img src="/static/pics/insta2.png" alt="" height="800px" width="700px" style="margin-right: 50px;margin-top: 20px;">
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="margin-top: 100px;margin-left: 50px;">
                <h4 style="font-size: 30px;margin-left: 50px;" >Get our Instagram Clone to start </h4>
                    <h4 style="font-size: 30px;margin-left: 15px;"> your own photo-sharing, video-sharing,</h4>  
                    <h4 style="font-size: 30px;text-align: center;">and</h4>
                    <h4 style="font-size: 30px;margin-left: 15px;">social networking service like Instagram.</h4>
            </div>
            <button class="btn btn-success btn-lg" style="margin-left: 200px;margin-top: 30px;" >Log in</button>
            <button class="btn btn-info btn-lg" style="margin-top: 30px;margin-left: 50px;">Sign in</button>
            
        </div>
    </div>
</body>
{% endblock %}