{% extends 'profile/base.html' %}
{% load bootstrap3%}

{% block content %}
<div class="container mb-4 pb-4" style="height: 100%;">
    <div class="row">
        <!-- Empty div -->
        <div class="col-lg-2"></div>

        <div class="col-lg-8 mt-4 pt-2 ">
            <div class="pb-2">
                {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt=""
                    class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 150px;">
                {% else %}
                <img src="https://www.vippng.com/png/detail/202-2026524_person-icon-default-user-icon-png.png" alt=""
                    class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 150px;">
                {% endif %}
                <h3 style="font-size: 25px;"> <span class="font-weight-bold" style="font-size: 29px;" > Username:</span> @ {{user.username}} </h3>
                <br>
                <p> <span class="font-weight-bold"> Email:</span> {{user.email}} </p>
                <p> <span class="font-weight-bold"> Bio:</span> {{ user.profile.bio}} </p>
                <button class="btn btn-info" ><a href="{%url 'create_profile'%}"></a> Edit Profile </button>
            </div>
            <hr>
            <br>
            <h4 class="font-weight-bold" style="text-align: center;font-size: 37px;">My Photos</h4>
            <hr>
            {% if images %}
            {% for image_item in images%}
            <a href="/image/{{image_item.id}}"><img src="{{ image_item.image_file.url }}" alt=""
                    class="rounded img-fluid mr-1" style="width: 200px;"></a>
                    <br>
                    <a href="{%url 'new_post'%}" class="btn btn-info">Create A New Post</a>
            {% endfor %}

            {% else %}
            <h5>You have not uploaded any photos</p>
            <a href="{%url 'new_post'%}" class="btn btn-info">Create A New Post</a>
            {% endif %}

        </div>

{% endblock %}
    
